/*全体*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*ルート*/
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
/*ボディー*/
body {
    font-family: "Hiragino Sans",sans-serif;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
    letter-spacing: 1px;
    line-height: 1.7;
    text-decoration: none;
    list-style-type: none;
}
/*共通パーツ*/
.section-title {
    max-width: 180px;
    margin: 0px auto;
    text-align: center;
    position: relative;
}

.section-title span {
    font-size: 24px;
    text-transform: uppercase;
}

/*ヘッダー*/
.header-wrapper {
    width: 90vw;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}

.header-inner {
    width: 100%;
    max-width: 1280px;
    height: 100%;
}

.header-logo {
    display: block;
    width: 44px;
    height: 44px;
    padding: 5px;
    border: none;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 2;
    transform: translateY(-50%);
}

.header-logo img {
    width: 100%;
    height: 100%;
}

.header-nav {
    width: 500px;
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 2;
    transform: translateY(-50%);
    transition: all .3s;
}

.header-nav__lists{
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: end;
}

.header-nav__lists li{
   height: 100%;
}

.header-nav__lists li.borderRightColorChange {
    border-right: 1px solid rgba(0,0,0,0.8);
}

.header-nav__lists li.borderLeftColorChange {
    border-left: 1px solid rgba(0,0,0,0.8);
}

.header-nav__lists li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,0.8);
    padding: 0 20px;
    text-decoration: none;
    transition: all .3s;
}

.header-nav__lists li a.colorChange {
    color: rgba(0,0,0,0.8);
}

.header-nav__lists li a:hover {
    background-color: rgba(0,0,0,0.3);
    transition: all .3s;
}
/*ハンバーガーボタンは768px以上は非表示*/
.hamburger-btn {
    display: none;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 12px;
    background: transparent;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.hamburger-btn span {
    display: block;
    width: 60%;
    height: 2px;
    border: none;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.5);
    transition: all .3s;
}

.hamburger-btn span:nth-child(1) {
    position: absolute;
    top: 22%;
    transform: translateY(-20%);
    left: 50%;
    transform: translateX(-50%);
}

.hamburger-btn span:nth-child(2) {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.hamburger-btn span:nth-child(3) {
    position: absolute;
    bottom: 22%;
    transform: translateY(-25%);
    left: 50%;
    transform: translateX(-50%);
}

.hamburger-btn.active span:nth-child(1) {
    top: 48%;
    left: 50%;
    transform: translateY(-45%) translateX(-50%) rotate(45deg);
}

.hamburger-btn.active span:nth-child(2) {
    top: 45%;
    left: 50%;
    transform: translateY(-45%) translateX(-50%) rotate(45deg);
    opacity: 0;
}

.hamburger-btn.active span:nth-child(3) {
    position: absolute;
    bottom: 47%;
    left: 50%;
    transform: translateX(-50%) translateY(-25%) rotate(-45deg);
}
/*ハンバーガーメニューは768px以上は非表示*/
.hamburger-menu {
    width: 90vw;
    max-width: 1280px;
    height: 0px;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 8px;
    background-color: #ffffff;
    overflow: hidden;
    /*常時非表示*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease;
}

.hamburger-menu.open {
    height: 330px;
    opacity: 1;
    visibility: visible;
}

.header-menu__links {
    width: 100%;
    list-style-type: none;
    text-decoration: none
}

.header-menu__links li {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.header-menu__links li a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,0.8);
    text-transform: uppercase;
    text-decoration: none;
}

.header-menu__links li a span:nth-of-type(2){
    display: block;
    font-size: 12px;
}

.header-menu__links li a:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.3);
    transition: all .3s ease;
}
/*メイン*/
.main {
    width: 100%;
}

/*main-visualセクション*/
.main-visual {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
    background-image: url(../images/bi.png);
}

/*スライドショー*/
.main-visual__inner {
    width: 100%;
    max-width: 1280px;
    height: 600px;
    border: none;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -3;
    overflow: hidden;
}

.main-visual__text p {
    width: 100%;
    text-align: center;
}

.main-visual__track {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: 1.5s ease;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-visual__backitem {
    width: 100%;
    max-width: 1280px;
    height: 600px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 16px;
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -4;
}

.main-visual__heading {
    width: 100%;
    max-width: 1280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.main-visual__heading-title {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}

.main-visual__heading-text {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
}

.menu-visual__link--new {
    display: block;
    width: 100%;
    max-width: 250px;
    min-width: 250px;
    color: #ffffff;
    padding: 10px 40px;
    margin: 40px auto 0px;
    border: 2px solid #ffffff;
    border-radius: 24px;
    background: rgba(0,0,0,0.2);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.menu-visual__heading-link--new:hover {
    background-color: rgba(255,255,255,0.1);
}

/*main-about*/
.main-inner {
    width: 100%;
    margin-top: 100vh;
}

.main-about {
    padding-top: 100px;
    background-color: #ffffff;
}

.main-about__title::before {
    content: "サイト紹介";
    display: block;
    max-width: 100px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #F4A460;
}

.main-about__inner {
    width: 90vw;
    max-width: 1280px;
    margin: 40px auto 0px;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.main-about__list {
    padding: 20px;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 8px;
}

.main-about__list-title {
    font-size: 18px;
}

.main-about__list-text {
    margin-top: 20px;
    font-size: 12px;
}
/*main-interior*/
.main-interior {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 180px;
    background-color: #ffffff;
}

.main-interior__title::before{
    content: "インテリア";
    display: block;
    max-width: 100px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #F4A460;
}

.main-interior__list {
    width: 90vw;
    max-width: 1280px;
    margin: 40px auto 0px;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 8px;
    overflow: hidden;
}

.main-interior__item {
    height: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.main-interior__item:nth-child(2) {
    flex-direction: row-reverse;
    border-top: none;
}

.main-interior__item:last-child {
    border-top: none;
}

.main-interior__img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.main-interior__text {
    width: 50%;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    transition: 1s ease;
}

.main-interior__text.is-visible {
    opacity: 1;
    transform: translateY(0px);
}

.main-interior__description {
    width: 90vw;
    max-width: 1280px;
    margin: 160px auto 0px;
    text-align: center;
    font-weight: bold;
    /*常時非表示*/
    opacity: 0;
    transform: translateY(30px);
    transition: 1s ease;
}

.main-interior__description::before {
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -80px;
    left: -25px;
    background-image: url(../images/mf1.png);
}

.main-interior__description::after {
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -80px;
    right: -25px;
    background-image: url(../images/mf2.png);
} 

.main-interior__description.is-visible {
    opacity: 1;
    transform: translateY(0px);
}

/*main-menu フォトギャラリーセクション*/
.main-menu {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F5F5F5;
}

.main-menu__title::before {
    content: "メニュー";
    display: block;
    max-width: 100px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #F4A460;
}

.main-menu__photogallery-inner {
    width: 90vw;
    max-width: 1280px;
    height: 600px;
    margin: 40px auto 0;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #222222;
    position: relative;
}

.main-menu__photogallery-inner::before{
    content: "menu";
    position: absolute;
    top: 3px;
    left: 20px;
    color: #ffffff;
}

.main-menu__photogallery-photos--main {
    width: 60%;
    height: 100%;
    position: relative;
}

.main-menu__photogallery-photo--main {
    display: block;
    width: 100%;
    height: 100%;
}

.main-menu__photogallery-text {
    width: 100%;
    height: 22%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    flex-direction: column;
    align-items: center;
}

.main-menu__photogallery-text p {
    width: 100%;
    padding-left: 10px;
    text-align: left;
    font-size: 12px;
    color: #ffffff;
}

.main-menu__photogallery-text p:first-child {
    font-size: 16px;
}

.main-menu__photogallery-photos--sub {
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}

.main-menu__photogallery-photo--sub {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all .2s;
}

.main-menu__photogallery-photo--sub:hover {
    transform: scale(1.1);
}

.main-menu__pickup {
    width: 90vw;
    max-width: 1280px;
    height: 550px;
    margin: 40px auto 0;
    padding: 30px 20px;
    background-color: #222222;
    position: relative;
}

.main-menu__pickup::before {
    content: "new";
    position: absolute;
    top: 3px;
    left: 20px;
    color: #ffffff;
}

.main-menu__pickup-list {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-menu__pickup-track {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: .8s ease-in-out;
}

.main-menu__pickup-text {
    width: 100%;
    height: 22%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 30px;
    left: 0;
    display: grid;
    justify-items: center;
}

.main-menu__pickup-text p {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    font-size: 12px;
    color: #ffffff;
    display: grid;
    flex-direction: column;
    align-items: center;
}

.main-menu__pickup-text p:first-child {
    font-size: 16px;
}

.main-menu__pickup-item {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.main-menu__pickup-photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-menu__button--prev {
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 55px;
    transform: translateX(-50%);
    transition: .3s ease;
}

.main-menu__button--prev:hover {
    background-color: #F4A460;
}

.main-menu__button--prev::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-left: 5px solid rgba(0,0,0,0.5);
    border-bottom: 5px solid rgba(0,0,0,0.5);
    position: absolute;
    top: 33%;
    left: 15px;
    transform: translateX(-50%);
    transform: rotate(45deg);
}

.main-menu__button--next {
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    right: 15px;
    transform: translateX(-50%);
    transition: .3s ease;
}

.main-menu__button--next:hover {
    background-color: #F4A460;
}

.main-menu__button--next::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-left: 5px solid rgba(0,0,0,0.5);
    border-bottom: 5px solid rgba(0,0,0,0.5);
    position: absolute;
    top: 33%;
    right: 15px;
    transform: translateX(-50%);
    transform: rotate(-135deg);
}

.main-menu__description-inner--food{
    width: 90vw;
    max-width: 1280px;
    margin: 40px auto 0;
    padding: 20px 0px;
    position: relative;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu__description-heading--food {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-menu__description-title--food span {
    font-size: 18px;
}

.main-menu__description-subtitle--food span {
    font-size: 12px;
}

.main-menu__description-text--food {
    width: 80%;
    position: relative;
}

.main-menu__description-text--food:before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 2px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.main-menu__description-text--food p {
    font-size: 12px;
    text-align: center;
}

.main-menu__description-inner--drink {
    width: 90vw;
    max-width: 1280px;
    margin: 20px auto 0;
    padding: 20px 0px;
    position: relative;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.main-menu__description-heading--drink {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-menu__description-title--drink span {
    font-size: 18px;
}

.main-menu__description-subtitle--drink span {
    font-size: 12px;
}

.main-menu__description-text--drink {
    width: 80%;
    position: relative;
}

.main-menu__description-text--drink::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 2px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.main-menu__description-text--drink p {
    font-size: 12px;
    text-align: center;
}

.main-menu__explanation {
    width: 90vw;
    max-width: 1000px;
    margin: 80px auto 0px;
    text-align: center;
    /*常時非表示*/
    opacity: 0;
    transform: translateY(30px);
    transition: 1s ease;
}

.main-menu__explanation::before{
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -20px;
    left: -25px;
    background-image: url(../images/mf1.png);
}

.main-menu__explanation::after {
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -20px;
    right: -25px;
    background-image: url(../images/mf2.png);
}

.main-menu__explanation.is-visible {
    opacity: 1;
    transform: translateY(0px);
}
/*access*/
.main-access {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/ab.png);
}

.main-access__title--main::before{
    content: "アクセス";
    display: block;
    max-width: 100px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #F4A460;
}

.main-access__inner {
    width: 90vw;
    max-width: 1000px;
    margin: 40px auto 0px;
    text-align: center;
}

.main-access__list {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 8px;
    background-color: #ffffff;
    position: relative;
}

.main-access__title--sub span {
    font-size: 18px;
}

.main-access__text {
    font-size: 12px;
}

.main-access__list:first-child {
    margin-top: 0px;
}

.main-access__text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateY(-60%) translateX(-50%);
}

.main-access__map {
    margin: 20px auto 0px;
    padding: 20px;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 8px;
    background-color: #ffffff;
    position: relative;
}

.main-access__map-title {
    font-size: 18px;
}

.main-access__map--iframe {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

.main-access__map-link {
    display: block;
    color: #ffffff;
    padding: 5px 30px;
    border: 2px solid #ffffff;
    border-radius: 12px;
    background: rgba(0,0,0,0.3);
    text-decoration: none;
    cursor: pointer;
}

.main-access__map-link:hover {
    opacity: 0.7;
    transition: all .3s;
}
/*フッタ-*/
.footer {
    background-color: #F5F5F5;
}

.footer-wrapper {
    width: 90vw;
    max-width: 1000px;
    margin: 100px auto 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer-photo {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.footer-icons {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-icons__icon {
    width: 40px;
    height: 100%;
}

.footer-icons a img:hover {
    opacity: 0.7;
}

.footer-access__title {
    position: relative;
}

.footer-access__title::before {
    content: "お問合せ";
    display: block;
    max-width: 100px;
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 12px;
    color: #F4A460;
}

.footer-access__title span{
    font-size: 24px;
}

.footer-access__text {
    margin-top: 20px;
}

.footer-copyright {
    margin-top: 100px;
    text-align: center;
}
/*max-width:1000px main-photogallery__inner レイアウト変更*/
@media screen and (max-width: 1000px) {
    .main-menu__photogallery-inner {
        width: 90vw;
        height: auto;
        flex-direction: column;
    }
    
    .main-menu__photogallery-photos--main {
        width: 100%;
        height: 40%;
    }

    .main-menu__photogallery-photos--sub {
        width: 100%;
        height: 60%;
    }
    
    .main-menu__photogallery-text p {
        font-size: 10px;
    }

    .main-menu__photogallery-text p:first-child {
        font-size: 14px;
    }

    .main-menu__pickup-text p {
        font-size: 10px;
    }

    .main-menu__pickup-text p:first-child {
        font-size: 14px;
    }
}
/*768px以上はハンバーガーメニュー非表示*/
@media screen and (min-width: 768px) {
    .hamburger-menu {
        display: none;
    }
}
/*タブレット 768px以下ブレイクポイント*/
@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
    .header-wrapper {
        width: 100vw;
    }
    /*768px以下はグローバルナビゲーション非表示*/
    .header-nav {
        display: none;
    }

    .hamburger-btn {
        display: block;
    }
    /*main-about*/
    .main-about__inner {
        flex-direction: column;
        justify-content: stretch;
        grid-template-columns: repeat(1, 1fr);
    }
    .main-about__list-title {
        font-size: 16px;
    }
    .main-about__list-text {
        font-size: 10px;
    }
    /*main-interior*/
    .main-interior__list {
        margin-top: 40px;
    }

    .main-interior__item {
        flex-direction: column;
    }

    .main-interior__item:first-child {
        margin-top: 0px;
    }
    
    .main-interior__item:nth-of-type(2){
        flex-direction: column;
    }
    
    .main-interior__item:last-child {
        flex-direction: column;
    }

    .main-interior__img {
        width: 100%;
        height: 60%;
    }

    .main-interior__text {
        width: 100%;
        height: 40%;
        margin-top: 40px;
    }

    .main-interior__description {
        font-size: 14px;
    }
    /*main-menu*/
    .main-menu__photogallery-text p {
        font-size: 8px;
    }

    .main-menu__photogallery-text p:first-child {
        font-size: 12px;
    }

    .main-menu__description-title--food span {
        font-size: 16px;
    }

    .main-menu__description-subtitle--food span {
        font-size: 10px;
    }

    .main-menu__description-text--food p {
        font-size: 10px;
    }

    .main-menu__description-title--drink span {
        font-size: 16px;
    }

    .main-menu__description-subtitle--drink span {
        font-size: 10px;
    }

    .main-menu__description-text--drink p {
        font-size: 10px;
    }

    .main-menu__explanation p {
        font-size: 14px;
    }

    /*main-access*/
    .main-access__title--sub {
        font-size: 16px;
    }

    .main-access__text {
        font-size: 10px;
    }

    .main-access__map {
        margin: 40px auto 0px;
    }

    /*foote*/
    .footer-wrapper {
        margin: 40px auto 0px;
        flex-direction: column-reverse;
    }

    .footer-icons {
        margin-top: 40px;
    }

    .footer-access_title {
        text-align: center;
    }

    .footer-access_text {
        text-align: center;
    }

    .footer-copyright {
        margin-top: 40px;
    }
}
/*タブレット 390px以下ブレイクポイント*/
@media screen and (max-width: 390px) {
    html {
        font-size: 12px;
    }
    /*main-about*/
    .main-about__list-title {
        font-size: 14px;
    }
    .main-about__list-text {
        font-size: 8px;
    }
    /*interior*/
    .main-interior__description {
        font-size: 12px;
    }
    /*photogallery*/
    .main-menu__description-title--food span {
        font-size: 14px;
    }

    .main-menu__description-subtitle--food span {
        font-size: 8px;
    }

    .main-menu__photogallery-text--food p {
        font-size: 8px;
    }

    .main-menu__description-title--drink span {
        font-size: 14px;
    }

    .main-menu__description-subtitle--drink span {
        font-size: 10px;
    }

    .main-menu__photogallery-text--drink p {
        font-size: 10px;
    }

    .main-menu__photogallery-text p {
        font-size: 8px;
    }

    .main-menu__pickup-text p{
        font-size: 8px;
    }

    .main-menu__explanation p {
        font-size: 12px;
    }
    /*main-access*/
    .main-access__title--sub {
        font-size: 14px;
    }

    .main-access__text {
        font-size: 8px;
    }
}